mixin nav-content()
  ul
    li: a(href="#about") About
    li: a(href="#works") Works
    li: a(href="#contact") Contact

.mobile-nav
  +nav-content()

header
  .header-position
    h1.logo Karthik Meda

    nav.site-nav
      +nav-content()

    a(href="mailto:karthikreddymeda@gmail.com").email-link +email me

    .mobile-nav-toggle: span
