mixin thumb
  a(href="#" style="background-image: url(http://loremflickr.com/g/320/240/paris,girl/all)").project-thumb
    .project-meta
      .name Project 1
      .desc In Progress


section.works
  .flexx.flexx-center
    .col-50.grid
      .grid-wrap
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb



    .col-50.flexx.flexx-center.order-first
      .col-1.minions
