.home-wrap
  display: flex
  min-height: 100vh

  @media (max-width: 775px)
    display: block

.home-sections
  flex: 1

  section
    padding: 50px 0

  .flexx
    display: flex
    flex-direction: row
  .flexx-center
    justify-content: center
  .flexx-space-around
    justify-content: space-around

  .home-lead
    font-family: 'Fira Sans'
    font-size: 36px
    line-height: 1.1

  .order-first
    order: -1


//columns
.col-1
  max-width: 300px
  margin: 0 10px
.push-right
  margin-left: 330px

.col-50
  width: 50%

@media (max-width: 640px)
  .home-sections
    .flexx
      display: block

  .col-1
    max-width: 100%

  .push-right
    margin-left: 10px
