@charset "UTF-8";
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
@import 'https://fonts.googleapis.com/css?family=Fira+Sans';
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #BD5248;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: #BD5248;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #d89993; }

::-moz-selection {
  background: #FFF498 ﻿; }

::selection {
  background: #FFF498 ﻿; }

::-moz-selection {
  background: #FFF498 ﻿; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498 ﻿; }

body {
  background: #F6F6F8;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Fira Sans' sans-serif;
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

.home-wrap header {
  width: 135px;
  background: #ffffff;
  padding: 30px 0; }
  .home-wrap header .header-position {
    position: fixed;
    top: 30px;
    left: 0;
    bottom: 30px;
    width: 135px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .home-wrap header .logo {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    max-width: 100px;
    background-image: url(/assets/images/logo-km.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 80px;
    padding: 0;
    margin: 0 20px; }
  .home-wrap header .site-nav ul {
    list-style: none;
    margin: 20px 0;
    padding: 0 20px 0 0;
    text-align: right; }
    .home-wrap header .site-nav ul li {
      margin-bottom: 10px; }
      .home-wrap header .site-nav ul li:last-child {
        margin-bottom: 0; }
  .home-wrap header .email-link {
    display: block;
    text-align: right;
    padding-right: 20px; }
  .home-wrap header .mobile-nav-toggle {
    display: none;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    cursor: pointer; }
    .home-wrap header .mobile-nav-toggle span,
    .home-wrap header .mobile-nav-toggle span:before,
    .home-wrap header .mobile-nav-toggle span:after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background: #333;
      position: relative;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .home-wrap header .mobile-nav-toggle span:before {
      top: 15px; }
    .home-wrap header .mobile-nav-toggle span:after {
      top: -17px; }
    .home-wrap header .mobile-nav-toggle.is-open span {
      background: transparent; }
    .home-wrap header .mobile-nav-toggle.is-open span:before,
    .home-wrap header .mobile-nav-toggle.is-open span:after {
      -webkit-transform-origin: conter;
          -ms-transform-origin: conter;
              transform-origin: conter;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 0; }
    .home-wrap header .mobile-nav-toggle.is-open span:before {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.home-wrap .mobile-nav {
  display: none;
  position: absolute;
  width: 100%;
  background: #ffffff;
  padding: 30px 0 20px;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .home-wrap .mobile-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .home-wrap .mobile-nav li {
    text-align: center;
    margin-bottom: 10px; }

@media (max-width: 775px) {
  .home-wrap header {
    width: 100%;
    padding: 20px 0;
    position: fixed; }
    .home-wrap header .header-position {
      width: auto;
      position: relative;
      top: auto;
      left: auto;
      bottom: auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center; }
    .home-wrap header .site-nav,
    .home-wrap header .email-link {
      display: none; }
    .home-wrap header .logo {
      height: 45px; }
    .home-wrap header .mobile-nav-toggle {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
  .home-wrap .mobile-nav.is-open {
    display: block;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%); }
  .home-wrap section.about {
    padding-top: 90px;
    padding-bottom: 0; }
    .home-wrap section.about h2, .home-wrap section.about .home-lead {
      margin-top: 50px; } }

section.about {
  background-image: url(../images/bg-image.jpg);
  background-position: center;
  background-size: cover; }
  section.about h2,
  section.about p {
    color: #ffffff; }
  section.about h2 {
    font-family: 'Fira Sans';
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    margin-left: -50px;
    margin-top: 0; }

.home-lead {
  padding-bottom: 180px; }

@media (max-width: 640px) {
  section.about h2, section.about .home-lead {
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 0;
    max-width: 300PX; }
  section.about .push-right {
    margin-left: 35px; } }

section.works {
  background-image: url(../images/shrinking_circles_bg.png);
  background-position: center;
  background-size: cover; }
  section.works .col-1.minions {
    position: absolute;
    top: 0;
    margin: -50px 0;
    width: 100%;
    height: -webkit-calc(100% + 100px);
    height: calc(100% + 100px);
    background-image: url(../images/minions-parallax.png);
    background-position: center 0px;
    background-repeat: repeat-y;
    background-size: 20%; }
    @media (max-width: 640px) {
      section.works .col-1.minions {
        display: none; } }
  section.works .col-50 {
    width: 100%;
    height: auto;
    position: relative; }
  section.works .grid-wrap {
    margin: -50px 0; }
    section.works .grid-wrap::after {
      clear: both;
      content: "";
      display: table; }
  section.works .project-thumb {
    display: block;
    background-size: cover;
    background-position: center;
    width: 25%;
    float: left;
    position: relative;
    overflow: hidden; }
    section.works .project-thumb:after {
      content: '';
      display: block;
      padding-top: 100%; }
    section.works .project-thumb .project-meta {
      position: absolute;
      background: rgba(61, 150, 203, 0.7);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: white;
      padding: 10px;
      -webkit-transform: translate(0%, 100%) scale(0.5);
          -ms-transform: translate(0%, 100%) scale(0.5);
              transform: translate(0%, 100%) scale(0.5);
      -webkit-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
      opacity: 0; }
      section.works .project-thumb .project-meta .name {
        font-size: 18px; }
      section.works .project-thumb .project-meta .desc {
        font-style: italic; }
  section.works .project-thumb:hover .project-meta {
    opacity: 1;
    -webkit-transform: translate(0%, 0%) scale(1);
        -ms-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1); }
  @media (max-width: 999px) and (min-width: 640px) {
    section.works .project-thumb {
      width: 33.33%; } }

section.contact {
  background-image: url(../images/dark-world-map.jpg);
  background-position: center;
  background-size: cover; }

.home-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh; }
  @media (max-width: 775px) {
    .home-wrap {
      display: block; } }

.home-sections {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .home-sections section {
    padding: 50px 0; }
  .home-sections .flexx {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .home-sections .flexx-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .home-sections .flexx-space-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .home-sections .home-lead {
    font-family: 'Fira Sans';
    font-size: 36px;
    line-height: 1.1; }
  .home-sections .order-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1; }

.col-1 {
  max-width: 300px;
  margin: 0 10px; }

.push-right {
  margin-left: 330px; }

.col-50 {
  width: 50%; }

@media (max-width: 640px) {
  .home-sections .flexx {
    display: block; }
  .col-1 {
    max-width: 100%; }
  .push-right {
    margin-left: 10px; } }
