.home-wrap
  header
    width: 135px
    background: #ffffff
    padding: 30px 0

    .header-position
      position: fixed
      top: 30px
      left: 0
      bottom: 30px
      width: 135px
      display: flex
      flex-direction: column
      justify-content: space-between

    .logo
      +hide-text
      max-width: 100px
      background:
        image: url(/assets/images/logo-km.svg)
        repeat: no-repeat
        position: center
        size: contain
      height: 80px
      padding: 0
      margin: 0 20px

    .site-nav
      ul
        list-style: none
        margin: 20px 0
        padding: 0 20px 0 0
        text-align: right

        li
          margin-bottom: 10px

          &:last-child
            margin-bottom: 0

    .email-link
      display: block
      text-align: right
      padding-right: 20px


    .mobile-nav-toggle
      display: none
      width: 50px
      height: 50px
      margin-right: 20px
      align-items: center
      cursor: pointer

      span,
      span:before,
      span:after
        content: ""
        display: block
        height: 2px
        width: 100%
        background: #333
        position: relative

        transition: all 0.3s ease-in-out

      span:before
        top: 15px

      span:after
        top: -17px

      &.is-open span
        background: transparent

      &.is-open span:before,
      &.is-open span:after
        transform-origin: conter
        transform: rotate(45deg)
        top: 0
      &.is-open span:before
        transform: rotate(-45deg)

  .mobile-nav
    display: none
    position: absolute
    width: 100%
    background: #ffffff
    padding: 30px 0 20px
    transform: translateY(-100%)
    transition: all 0.3s ease-in-out

    ul
      list-style: none
      margin: 0
      padding: 0

    li
      text-align: center
      margin-bottom: 10px


@media (max-width: 775px)
  .home-wrap
    header
      width: 100%
      padding: 20px 0
      position: fixed

      .header-position
          width: auto
          position: relative
          top: auto
          left: auto
          bottom: auto
          flex-direction: row
          align-items: center

      .site-nav,
      .email-link
        display: none

      .logo
        height: 45px

      .mobile-nav-toggle
        display: flex

    .mobile-nav.is-open
      display: block
      transform: translateY(0%)

    // About Section
    section.about
      padding-top: 90px
      padding-bottom: 0

      h2, .home-lead
        margin-top: 50px
