section.works
  background:
    image: url(../images/shrinking_circles_bg.png)
    position: center
    size: cover


  .col-1.minions
    position: absolute
    top: 0
    margin: -50px 0
    width: 100%
    height: calc(100% + 100px)
    background:
      image: url(../images/minions-parallax.png)
      position: center 0px
      repeat: repeat-y
      size: 20%
    @media (max-width: 640px)
      display: none

  .col-50
    width: 100%
    height: auto
    position: relative

  .grid-wrap
    margin: -50px 0
    +clearfix

  .project-thumb
    display: block
    background:
      size: cover
      position: center
    width: 25%
    float: left
    position: relative
    overflow: hidden

    &:after
      content: ''
      display: block
      padding-top: 100%

    .project-meta
      position: absolute
      background: fade-out(#3d96cb, 0.3)
      top: 0
      left: 0
      right: 0
      bottom: 0
      color: white
      padding: 10px
      transform: translate(0%, 100%) scale(0.5)
      transition: all 200ms ease-in-out
      opacity: 0

      .name
        font-size: 18px
      .desc
        font-style: italic

  .project-thumb:hover .project-meta
    opacity: 1
    transform: translate(0%, 0%) scale(1)

  @media(max-width: 999px) and (min-width: 640px)
    .project-thumb
      width: 33.33%
