section.about
  background:
    image: url(../images/bg-image.jpg)
    position: center
    size: cover

  h2,
  p
    color: #ffffff

  h2
    font-family: 'Fira Sans'
    font:
      size: 60px
      weight: 400
    line-height: 1
    margin-left: -50px
    margin-top: 0

.home-lead
  padding-bottom: 180px

@media (max-width: 640px)
  section.about
    h2, .home-lead
      margin-left: auto
      margin-right: 0
      margin-bottom: 0
      max-width: 300PX

    .push-right
      margin-left: 35px
